* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 14px;
}

#custom-user,
#window label,
#mpris,
tooltip label {
	font-weight: normal;
}

/* #workspaces button.active label,
#workspaces button.focused label, */
#custom-distro {
	font-size: 22.5px;
}

#custom-power_menu {
	font-size: 22.5px;
}

#custom-left_div,
#custom-right_div {
	font-size: 22.5px;
  margin-top: 0px;
}
#custom-left_inv,
#custom-right_inv {
	font-size: 22.5px;
	margin-top: 0px;
}
